.env
node_modules/
coverage/
*.tmp
*.log
datos/credenciales_administrador.json
datos/estado_autenticacion_correo.json
datos/historial_envios_correo.json
datos/clave_codigos.key
datos/aprendices.json
datos/asistencia.json
datos/programas.json
datos/usuarios_gestionados.json
datos/importaciones/usuarios_activos.csv
datos/importaciones/2026-08-07_usuarios_originales.xlsx
datos/importaciones/2026-08-07_formato_asistencia.csv
documentacion/horarios/
respaldos/
datos/reportes_estadisticas.json
tmp/
datos/importaciones/originales/
/usuarios.csv
/usuarios_listo_para_importar.csv
/.mysql-install-my.ini
/base_datos/Base_datos_SENA.sql
/datos/excusas.json
/datos/formacion.json
/datos/informe-general-*.pdf
/INFORME_DE_DISENO__ENTREGA.docx
/LOGICA_EN_PROCESO.txt
/Mejoras.txt
/QR.txt
/instructor.png
